<!DOCTYPE HTML>
<html lang="es" >
<head>
	<meta charset="utf-8"/>
	<title> Terraing </title>
	<link rel="stylesheet"  href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/estilos.css">
	<script type="text/javascript" src="js/prefixfree.js"></script>
	<script type="text/javascript" src= "js/jquery.js"></script>
	<script type="text/javascript" src="js/pixastic.custom.js"></script>
	<script type="text/javascript" src= "js/script.js"></script>	
    <script type="text/javascript" src="js/slides.js"></script>

</head>
<body>
	<header>
				<hgroup>
				<h1>INGENIERIA CATASTRAL Y GEODESIA</h1>
				<h2> Donde estés, existe un futuro increible...</h2>
				<hgroup/>
	</header>			
	<div class="container">
           
            
     </div>	
	<section>
		<article id= "historia">

			<p>PARTICIPA<p>

			<p>¿Tiene un proyecto en mente?</p>

			<p>Compártalo,si quiere hacer parte del equipo de Terraing, es bienvenido, solo debe tener algunos aspectos en cuenta: </p>

			<p>1. Recuerde que esta es una pagina que busca la difusión de conocimiento de forma gratuita por esto cualquier documento que usted realice debe estar bajo licencia Creative Commons existen diferentes tipos, puede elegir la que se acomode mejor a sus ideales de divulgación:, si quiere conocer mas acerca del tema dirijase <a href="http://co.creativecommons.org/?page_id=13">aquí</a></p>
			<p>2. Su aporte debe ser inédito, es decir no haber sido publicado antes ni estar en proceso de publicación.</p> 
			<p>3. Puede descargar a continuación los formatos estandar para la publicación en Ingenieria Catastral y Geodesia</p>
				<a href="ftp://u957225361@catastralygeodesia.uni.me/public_html/Prueba%201%20para%20la%20pg.docx" download="Prueba 1 para la pg">Descarguelo para word </a></p>
				<a href="C:\Users\Giselle\Desktop\Proyecto icg\UD - copia\Informes" download="prueba1">Descarguelo para latex </a></p>
			<p>4. Puede añadir otros datos de contacto si lo desea, redes sociales o varios correos electrónicos, muchos ususarios tendrán dudas y usted decidirá hasta que punto va a acercarse a ellos.
			<p>5. Una vez haya concluido con su trabajo hágalo llegar por medio del correo ingcatastralygeodesia@gmail.com.</p>
			<p>6. Finalmente sólo debe esperar algunos días lo revisaremos, quizas necesite algunos ajustes, nos contactaremos con usted para corregirlos y avisarle cuándo podra ver publicado su artículo.</p>

			<p>!Gracias por participar con el conocimiento crecemos todos¡</p>		
					

		</article>
		<figure id="curvas">
					<img src="imagen/dron.jpg">
					<figcaption>
						<h2>Recuerde: !Seguramente lo que usted sabe, alguién más lo está buscando ahora¡</h2>
					
					
	<nav>
		<ul>
				<li><a href="#" id="Regresar" >Regresar</a></li>
				
		</ul>		

	</nav>
</body>
</html>
