{% extends "base.html" %}
<!-- {% load django_markdown %} -->
{% load static %}

{% block blog_entries %}
{% for object in object_list %}
  <div class="organizados">
  <div class="cubito">
  	<img src="{% static object.photo.url %}" width="300"/>
     
  </div>
  <div class="caja">
   <h4><a href="{% url "entry-detail" object.id %}">{{ object.title }}</a></h4>
    
    <p class="meta">
      {{ object.created }} |
      <!-- Tagged under {{  object.tags.all|join:", " }} -->
  </div>
  </div>
{% endfor %}
{% endblock %}